arrow>=1.4.0
asgiref>=3.10.0
blessed>=1.22.0
crispy-bootstrap5>=2025.6
dj-database-url>=3.0.1
Django>=5.2.7
django-crispy-forms>=2.4
django-picklefield>=3.3
django-q2>=1.8.0
et_xmlfile>=2.0.0
future>=1.0.0
gunicorn>=23.0.0
openpyxl>=3.1.5
packaging>=25.0
psycopg2>=2.9.11
python-dateutil>=2.9.0.post0
python-dotenv>=1.1.1
pyzk>=0.9
redis>=3.5.3
setuptools<=80.9.0
six>=1.17.0
sqlparse>=0.5.3
tzdata>=2025.2
wcwidth>=0.2.14



